**Python Problem Solving**


---


9. How to print a calendar for the given month and year in python.

In [3]:
import calendar

In [4]:
y = int(input("Enter the year: "))
m = int(input("Enter the month: "))

print (calendar.month(y, m))

Enter the year: 2025
Enter the month: 01
    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [5]:
y = int(input("Enter the year: "))
m = int(input("Enter the month: "))

print (calendar.month(y, m))

Enter the year: 2003
Enter the month: 02
   February 2003
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28